<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081326301443-n8o87bcci737ue20g8cq0kg23m8bocpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081326301443-n8o87bcci737ue20g8cq0kg23m8bocpa</string>
	<key>API_KEY</key>
	<string>AIzaSyBvoTlO1YxOY9O8pGCMU-mkWpLQouYJCUY</string>
	<key>GCM_SENDER_ID</key>
	<string>1081326301443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication</string>
	<key>PROJECT_ID</key>
	<string>myapp-70217</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-70217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081326301443:ios:9abb709716e8a700d4b936</string>
</dict>
</plist>